.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #a5bde9;
    background-position: center;
    height: 100vh;
    padding: 20px;
    color: white;
}

.hero-content {
    max-width: 50%;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 1.5rem;
}

.hero-image {
    width: 40%;
    height: 100%;
    background-image: url('../images/christmas-anime-pfp-of-aizen-carrying-gift-a6owmdf9z1g5cyz1.webp');
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 40rem;
}